name: Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2
        
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          
      - name: Install dependencies
        run: npm install
        
      - name: Build and tag Docker image
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker build -t my-web-app .
          docker tag my-web-app ${{ secrets.DOCKER_USERNAME }}/my-web-app:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/my-web-app:${{ github.sha }}
